.ank ul{
    display:flex;
  }
  
  .ank ul li{
    list-style:none;
    margin: 0 15px;
  }
  .image2{width: 400px;}
  
  .jum{background-color: #b3d4a8}
  .cc{padding-top: 200px;margin-bottom: -180px;}
  #ii{margin-bottom: 80px;}
  #a{font-size: 40px;}
  #b{font-size: 30px;}
  #c{font-size: 20px;}
  a{color: white;}
  #h{text-align: center;}
  
  .jumm{margin-top: 130px; background-color: rgb(158, 206, 206);}
  .jumbo{background-color: rgb(173, 187, 204); height:512px;margin-top: -150px;}
  .jumbo2{background-color: rgb(236, 186, 128);height:512px}
  .jumbo3{background-color: rgb(209, 179, 204);height:512px}
  .jumbo4{background-color: rgb(218, 174, 174);height:512px}
  
  .v1{background-color: #b3d4a8}
  .v1 li{color:white}
  .y{margin-left: 50%;}
  .y1{margin-left: 40%;}
  .i1{height:280px;}
  .container1 {
    position: relative;
    text-align: center;
    color: white;
    font-size: 20px;
    margin:100px;
    width: 200px;
  }
  .centered1 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-style: italic;
    font-size: 30px;
  }
  .btn2 {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  .btn2:hover {
    background-color: black;
  }
  
  .ro {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 33.3%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    filter: grayscale(1) brightness(0.5);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s linear;
  }
  .column img:hover {
    filter: grayscale(0);
  }
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
    .column img {
      filter: grayscale(0) brightness(1);
    }
  }
  
  
  
  footer
  {
    position:relative;
    width:100%;
    background:#3586ff;
    min-height:230px;
    padding:10px 50px;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
  }
  
  footer .m, footer .n
  {
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  
  footer .m li, footer .n li
  {
    list-style: none;
  }
  
  footer .m li a, footer .n li a
  {
    font-size: 2em;
    color:white;
    margin: 0 10px;
    display:inline-block;
    text-decoration: none;
  }
  
  footer p{text-align: center;justify-content:center;color:white}
  footer .m li a:hover{transform:translateY(-10px);}
  footer .n li a:hover{opacity: 0.5;}
  .n{font-style: italic;}